---
layout: default
section_id: home
slides:
  - bg: images/@index/OpenMessagingCover.png
    title:
      text: '<font color="black" style="text-transform: none">A cloud native, vendor-neutral open specification for distributed messaging</font><br><iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=openmessaging&repo=specification&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=openmessaging&repo=specification&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>'
      class: large-20 medium-20
boxes:
  - icon_class: fa fa-cloud
    title: Cloud Oriented
    text:
      Designed for robust implementation on clouds with scalability, flexibility, isolation, and security.
  - icon_class: fa fa-compass
    title: Multi Domains
    text:
      Does not rely on or favors any business products and provides a large range of support including finance, e-commerce and IoT.
  - icon_class: fa fa-star-half-empty
    title: Platform Independent
    text:
      Compatible with most platforms including Java, c/c++, go, .net, python, etc.
  - icon_class: fa fa-filter
    title: Streaming
    text:
      Enables big data streaming and computation to meet the cutting-edge business demands.
  - icon_class: fa fa-dot-circle-o
    title: Standard Benchmark
    text:
      Facilitates standard benchmark to allow standard tests.
  - icon_class: fa fa-plug
    title: Wire Level Pluggable
    text:
      MQTT, AMQP, Private protocols are implemented to guarantee a wider range of compatibility.

testimonials:
  - text: "We have focused on the messaging and streaming field for years, during which we explored Corba notification, JMS and other standards to try to solve our stickiest business requirements. After evaluating the available alternatives, Alibaba chose to create a new cloud-oriented messaging standard, OpenMessaging, which is a vendor-neutral and language-independent and provides industrial guidelines for areas like finance, e-commerce, IoT, and big data. Moreover, it aims to develop messaging and streaming applications across heterogeneous systems and platforms. We hope it can be open, simple, scalable, and interoperable. In addition, we want to build an ecosystem according to this standard, such as benchmark, computation, and various connectors. We would like to have new contributions and hope everyone can work together to push the OpenMessaging standard forward."
    author: Von Gosling
    position: senior architect at Alibaba, co-creator of Apache RocketMQ, and original initiator of OpenMessaging
  - text: "There are many different open source messaging solutions, including Apache ActiveMQ, Apache RocketMQ, Apache Pulsar, and Apache Kafka. The lack of an industry-wide, scalable messaging standard makes evaluating a suitable solution difficult. We are excited to support the joint effort from multiple open source projects working together to define a scalable, open messaging specification. Apache BookKeeper has been successfully deployed in production at Yahoo (via Apache Pulsar) and Twitter (via Apache DistributedLog) as their durable, high-performance, low-latency storage foundation for their enterprise-grade messaging systems. We are excited to join the OpenMessaging effort to help other projects address common problems like low-latency durability, consistency and availability in messaging solutions."
    author: Sijie Guo
    position: co-founder of Streamlio, PMC chair of Apache BookKeeper, and co-creator of Apache DistributedLog
  - text: "As the sophistication and scale of applications’ messaging needs continue to grow, lack of a standard interface has created complexity and inflexibility barriers for developers and organizations. Streamlio is excited to work with other leaders to launch the OpenMessaging standards initiative in order to give customers easy access to high-performance, low-latency messaging solutions like Apache Pulsar that offer the durability, consistency, and availability that organizations require."
    author: Matteo Merli
    position: software engineer at Streamlio, co-creator of Apache Pulsar, and member of Apache BookKeeper PMC
  - text: "In Didi, we have defined a private set of producer API and consumer API to hide differences among open source MQs such as Apache Kafka, Apache RocketMQ, etc. as well as to provide additional customized features. We are planning to release these to the open source community. So far, we have accumulated a lot of experience on MQs and API unification, and are willing to work in OpenMessaging to construct a common standard of APIs together with others. We sincerely believe that a unified and widely accepted API standard can benefit MQ technology and applications that rely on it."
    author: Neil Qi
    position: architect at Didi
  - text: "Oath–a Verizon subsidiary of leading media and tech brands including Yahoo and AOL– supports open, collaborative initiatives and is glad to join the OpenMessaging project."
    author: Joe Francis
    position: director, Core Platforms

clients:
  - images/@index/alibaba-logo.png
  - images/@index/yahoo-logo.png
  - images/@index/streamlio-logo.png
  - images/@index/didi-logo.png
  - images/@index/linux-logo.png
  - images/@index/aliyun-logo.png
  - images/@index/chinamobile-logo.png
  - images/@index/weizhong-logo.png
  - images/@index/Datapipeline.png
---

<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Our mission</h4>
      <h2>Why OpenMessaging ?</h2>
      <div class='spacing'></div>
      <p>Messaging and Streaming products have been widely used in modern architecture and data processing, for decoupling, queuing, buffering, ordering, replicating, etc. But when data transfers across different messaging and streaming platforms, the compatibility problem arises, which always means much additional work. Although JMS was a good solution during the past decade, it is limited in java environment, lacks specified guidelines for load balance/fault-tolerance, administration, security, and streaming feature, which make it not good at satisfying modern cloud-oriented messaging and streaming applications.</p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for box in page.boxes %}
            <div class='box' style='height: 300px'>
              <i class='{{box.icon_class}}'></i>
              <h4>{{box.title}}</h4>
              <p>{{box.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='three spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/@index/oms-4domains.png" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <h4 style='color: #999'>Universal</h4>
      <h2>Multi Domains</h2>
      <div class='spacing'></div>
      <p>OpenMessaging is vendor-neutral and language-independent, provides industry guidelines for areas of finance, e-commerce, IoT and big-data, and aimed to develop messaging and streaming applications across heterogeneous systems and platforms.</p>
      <div class='spacing'></div>
      <a class='button small' href='https://github.com/openmessaging/'>Learn more</a>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <h4 style='color: #999'>Simple</h4>
      <h2>Easy to Migrate</h2>
      <div class='spacing'></div>
      <ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          Cloud Oriented, a common messaging spec in many cloud platform
        </li>
        <li>
          <i class='fa fa-check'></i>
          Hybrid Cloud, connects different cloud platform through OMS
        </li>
        <li>
          <i class='fa fa-check'></i>
          Cloud Independent, users are free to choose
        </li>
      </ul>
      <div class='spacing'></div>
      <a class='button small' href='https://github.com/openmessaging/'>Learn more</a>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinright" width="500" height="400" alt="" src="images/@index/oms-4clouds.png" />
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='three spacing'></div>
</div> -->

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='three spacing'></div>
</div>

