---
layout: default
title: OpenMessaging Members (the “Members”)
section_id: members

clients:
- /images/@index/alibaba-logo.png
- /images/@index/yahoo-logo.png
- /images/@index/streamlio-logo.png
- /images/@index/didi-logo.png
- /images/@index/linux-logo.png
- /images/@index/aliyun-logo.png
- /images/@index/weizhong-logo.png
- /images/@index/Datapipeline.png
- /images/@index/chinamobile-logo.png
---

<style type="text/css">
  .paper-body p {
    color: #5f5a5a;
    font-size: 1.2rem
  }

  #layout ul {

    list-style: none;

  }

  #layout li {
    float: left;

    width: 260px;

    margin-top: 10px;

    margin-right: 20px;

    margin-bottom: 10px;

    margin-left: 20px;

    text-align: center;

  }

  #layout img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
  }
</style>
<body>
<div align="center" >
  <table width="1000" border="0" align="center" style="background: #3c90ca;margin:0;padding: 0">
    <tr>
      <td>
        <div id="layout">
          <ul>
            {% for client in page.clients %}
            <li><img alt="" width="200" height="100" src="{{client}}"/></li>
            {% endfor %}
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
<!--<div class='full' style='background-image: url(../images/@index/customers-bg.jpg); color: #fff;'>-->
<!--<div class='mod modClients'>-->

<!--<div class='clients' >-->
<!--{% for client in page.clients %}-->
<!--<div><img alt="" src="{{client}}" /></div>-->
<!--{% endfor %}-->
<!--</div>-->
<!--</div>-->
<!--<div class='two spacing'></div>-->
<!--</div>-->
