<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-7 medium-3 columns'>
      <h3>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/oms-white-logo.png" />
        </a>
      </h3>
      <p>Copyright &copy; 2017~2021 OpenMessaging Project, a Linux Foundation Collaborative Project. All Rights Reserved unless explicitly granted under an open source license.<br> The Linux Foundation is a registered trademark of The Linux Foundation. Linux is a registered trademark of Linus Torvalds.<br> Please see our <a href="https://www.linuxfoundation.org/terms" target="_blank">terms of use</a>, <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">trademark usage</a> and <a href=" https://www.linuxfoundation.org/privacy" target="_blank">privacy policy</a></p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-5 medium-5 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>&nbsp;&nbsp;&nbsp;<i class="fa fa-hand-o-right" ></i>&nbsp;&nbsp;&nbsp;<a href="https://groups.google.com/forum/#!forum/openmessaging">JOIN THE MAILING LIST</a></li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://twitter.com/Open_Messaging'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='https://github.com/openmessaging'>
            <i class='fa fa-github'></i>
          </a>
        </li>
        <li>
          <a href='https://openmessaging.herokuapp.com/'>
            <i class='fa fa-slack'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
